[submodule "snoyman.com"]
	path = sites/snoyman.com
	url = https://github.com/snoyberg/snoyman.com
[submodule "yesodweb.com"]
	path = sites/yesodweb.com
	url = https://github.com/yesodweb/yesodweb.com
